*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
}

body   {
    height: 100vh;
    display: grid;
    place-items: center;
    font-family: 'Anton', sans-serif;
    
}

.container {
    width: 400px;
    height: 200px;
    padding: 0;
}   



.card__content {
    text-align: center;
    position: relative;
    padding: 5em;
    transition: transform 3s;
    background:none;
    transform-style: preserve-3d;
    border-radius: 10px;
    background-image: url(lam.jpg);
    width: 400px;
    height: 200px;
    background-size: cover;
    align-content: center;
}

.container:hover .card__content {
    transform: rotateY(.5turn);
}
.card__fornt,
.card__back,
.card__back_border  {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding-top: 2em;
    transform-style: preserve-3d;
    backface-visibility: hidden;
    
}

.card__fornt {
    background-size: cover;
    border-radius: 10px;
    border: 3px solid rgb(206, 198, 198);
    transform: translateZ(40px);
    width: 380px;
    height: 190px;
    margin: 5px 10px;
    text-transform: uppercase;
    padding-top: 50px;
}
.card__fornt_title {
    color: #fd2020;
    font-size: 3rem;
    transform: translateZ(100px);
}
.card__fornt_title-2 {
    color: black;
    font-size: 1em;
    transform: translateZ(50px);
}

.card__back {
    background: rgb(160, 152, 152);
    transform: rotateY(.5turn);
    align-content: center;
    
    border-radius: 10px;
    
}

.card__back_border {
    border: 3px solid red;
    border-radius: 10px;
    width: 380px;
    height: 160px;
    transform: translateZ(40px);
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 11px;
    padding: 10px;
    
}

.card__back_title {
    color: red;
    font-size: 19px;
    transform: translateZ(40px);
    margin: 0;
}

@media only screen and (max-width: 1000px) {
    body {
      background-color: lightblue;
      
    }
    .container {
        transform: scale(2);
    }
  }
